/00/
/01/
/dialogs/
/logs/
/prompts/
/scenarios/
/.venv/
/converted_files/
/Задание для разработчика графического интерфейса Агетна - обрботчика документов.docx
/Промпт для разработки GUI_00_Предварительный.docx
/Промпт для разработки GUI_Итоговый.docx
/промты.docx
/Техническое задание на разработку модулей интеграции системы анализа документов с использованием ChatGPT.docx
/Техническое задание на разработку ПО.docx
/config formats.xlsx
/.env
/02/
